.item-list{ margin-bottom: 20px; }

.map{ position: relative; }
.maps-arrow{ z-index: 999; position: absolute; display: none; }
.maps-arrow.top-arrow{ top: 0; left: 375px; }
.maps-arrow.right-arrow{ right: 0; top: 275px; }
.maps-arrow.bottom-arrow{ bottom: 0; left: 375px; }
.maps-arrow.left-arrow{ left: 0; top: 275px; }